.containerBoton {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    }

.agregar {
    text-align: center;
    align-items: center;
    // margin: 0 0 30px 0;
    
    :hover {background-color: black; color: white}
}

.botonAgregar{
    padding: 15px 25px;
}

.boton1, .boton2{
    padding: 40px;
    :hover {background-color: black; color: white}
}

.botones{
    padding: 15px 25px
}

.count{
    size: 50px;
}